body {
    background-image: url('img/background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
.profile-section {
    margin-top: 30px;
    padding: 30px;
    animation: slideInLeft 2s ease forwards;
    border-radius: 10px;
    position: sticky;
    top: 20px;
    align-items: center;
    text-align: center;
}
  
.profile-img {
    max-width: 75%;
    border-radius: 50%;
    padding-bottom: 15px;
    }

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #adb5bd; 
    color: #00b4d8; 
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

.download-button:hover {
    background-color: #caf0f8;
    }

.name-section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    padding-bottom: 0px;
    animation: slideInRight 2s ease forwards;
}

.experience-section,
.projects-section,
.educational-section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    animation: slideInRight 2s ease forwards;
}

.card-body {
    padding-left: 0%;
}

.contact-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #eff1ed;
    color: #adb5bd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    animation: slideInRight 2s ease forwards;
  }

.contact-button:hover {
    background-color: #caf0f8;
  }

.contact-button i {
    font-size: 24px;
  }

.nanum-gothic-title {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    color: #eff1ed;
    text-align: left;
    }

.nanum-gothic-body {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: medium;
    color: #eff1ed;
    text-align: left;
    }

.profile-section, .name-section, .experience-section, .contact-button, .projects-section, .educational-section{
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(15px); 
    background-color: rgba(1, 11, 40, 0.718); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }

footer {
    padding-bottom: 20px; 
}
  

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    }

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    }